<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a href="" class="navbar-brand">
        <i class="fa fa-bus me-2">BusBooking</i>
      </a>
      <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="fa fa-arrow-right me-1"></i>Login
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>